* text=auto eol=lf
*.bat text eol=crlf
*.ps1 text eol=crlf
*.png binary
*.jpg binary
*.ico binary
*.zip binary
*.duckdb binary
*.parquet binary
*.blend binary
*.blend1 binary
*.glb binary
*.webp binary
*.avif binary
*.ktx2 binary
